<div class="container">

    <div [ngSwitch]="valor">
    <div *ngSwitchCase="0">
        <app-datos-encuesta (iniciarEncuesta)="siguiente($event)" ></app-datos-encuesta>
    </div>
    <div *ngSwitchCase="1">
        <app-preguntas></app-preguntas>
    </div>
    <div *ngSwitchCase="2">
        <app-estadistica-grafica></app-estadistica-grafica>
    </div>
    </div>
    <!-- <button  class="waves-effect waves-light btn"  (click)="siguiente()">
    Siguiente
    </button>
    <br>
    <br>
    <button  class="waves-effect waves-light btn" (click)="atras()">
       Atras
        </button> -->
</div>